footer.footer.wrapper__item#footer
	.container
		.row
			.col-xs-12
				p.
					Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Пояс рыбными, она. Жизни если, страну точках океана жаренные! Взобравшись которой, вершину ipsum рыбными оксмокс.