- page_title = "Заголовок страницы";
- page_description = "Описание страницы";
include components/_mixins
doctype html
html(lang="ru")
	include components/_head
	body
		include components/_header
		include components/_footer