//
//	BASE
//	базовые стили


.text-center { text-align: center; }
.text-right {	text-align: right; }
.text-left { text-align: left; }
.text-justify { text-align: justify; }

.text-underline { text-decoration: underline; }
.text-strike { text-decoration: line-through; }

.font-bold { font-weight: bold; }
.font-italic { font-style: italic; }
.font-normal { font-weight: normal; font-style: normal; }

.font-larger { font-size: 1.2em; }
.font-smaller { font-size: 0.8em; }

.left { float: left; }
.right { float: right; }

.hide { display: none; }
.show { display: block; }
.show-inlien { display: inline-block; }