//
//		Variables
//		переменные


//
//Размеры основных блоков
$header-h: 55px;
$footer-h: 340px;


//
//Цвета
$brand-color-1: #000000;
$brand-color-2: #777777;
$brand-color-3: #5cb85c;
$brand-color-4: #d9534f;
$brand-color-5: #5bc0de;
$brand-color-6: #f0ad4e;

$color-accent: $brand-color-1;
$color-default: $brand-color-2;
$color-success: $brand-color-3;
$color-danger: $brand-color-4;
$color-info: $brand-color-5;
$color-warning: $brand-color-6;