










.nav {


	border-top: 1px solid $brand-default;
	border-bottom: 1px solid $brand-default;


	&__list {
		@extend .container;
		display: flex;
		flex-direction: row;
		list-style-type: none;
		padding-left: 0;
	}


	a {
		display: block;
		padding: .5em 2em;
	}


}