-
  var page = {
    title: 'Заголовок страницы',
    description: 'Описание страницы',
    url: '#',
    type: 'website',
    site: 'Имя сайта',
    thumbnail: '#',
    author: 'chomovva',
    nav: [
      {title: 'Пункт 1', href: "#"},
      {title: 'Пункт 2', href: "#", submenu: [
        {title: 'Подпункт 1', href: "#"},
        {title: 'Подпункт 2', href: "#"},
        {title: 'Подпункт 3', href: "#"},
        {title: 'Подпункт 4', href: "#"}  
      ]},
      {title: 'Пункт 3', href: "#"},
      {title: 'Пункт 4', href: "#"},
      {title: 'Пункт 5', href: "#"}
    ]
  }