//
//    _ICON.scss
//    иконки спрайты

// $icon-sprite-dimensions: true;
// @import 'icon/*.png';
// @include all-icon-sprites;

.icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
    margin-right: 1em;
}